{% extends "base.html" %}

{% block page_content %}
    {% if book_info %}
        <table class="table table-hover table-condensed table-bordered">
            <tbody>
                <tr>
                    <th>책 사진</th>
                    <img src="{{ url_for('static', filename = book_info.img_path) }}" class="card-img-top" alt="책 이미지">
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th>책 이름</th>
                    <th>{{ book_info.publisher }}</th>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th>저자</th>
                    <th>{{ book_info.author }}</th>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th>출판사</th>
                    <th>{{ book_info.book_name }}</th>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th>출간일</th>
                    <th>{{ book_info.publication_date }}</th>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th>페이지수</th>
                    <th>{{ book_info.pages }}</th>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th>isbn코드</th>
                    <th>{{ book_info.isbn }}</th>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th>책 소개</th>
                    <th>{{ book_info.description }}</th>
                </tr>
            </tbody>

            <tbody>
                <tr>
                    <th>댓글</th>
                    <th>{{ '댓글' }}</th>
                </tr>
            </tbody>
        </table>
        <hr/>
    {% endif %}
    
{% endblock %}