{% extends "base.html" %}

{% block title %}대여 확인 및 반납 페이지{% endblock %}
"현재 대여된 책 페이지 및 반납할 수 있는 페이지"



{% block page_content %}
    {% if now_info %}    
        {% if status_info %}
        
        <div class="container">
            <div class="row row-cols-1 row-cols-xs-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">  
                <ul class="list-group">
                    {% for status in status_info %}
                        {% if status.lib_status.now == 1 %}
                            
                            <div class="card" style="width: 18rem;">
                                <img src="{{ url_for('static', filename = status.lib_books.img_path) }}" class="card-img-top" alt="책 이미지">
                                <div class="card-body">
                                    <h5 class="card-title">{{ status.lib_books.book_name }} </h5>
                                    <li class="list-group-item list-group-item-action"> 평점 : {{ get_score(status.lib_books.book_id) }}</li>
                                    <li class="list-group-item list-group-item-action"> 대여 시작일 :{{ status.lib_status.book_start }}</li>
                                    <form action="{{ url_for('main.outbook', book_id=status.lib_books.book_id) }}" method="post">
                                        <div class="form-group">
                                            <input class="btn btn-primary" type="submit" value="반납하기">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                        
                    {% endfor %}
                    
                </ul>                
            </div>
        </div>
        {% endif %}
    {% else %}
        "빌린 책이 없습니다"
    {% endif %}
{% endblock %}

