{% extends "base.html" %}

{% block title %}대여 확인 및 반납 페이지{% endblock %}
"현재 대여된 책 페이지 및 반납할 수 있는 페이지"

{% block css %}
<style>
    .container {
        width: 200%;
    }
    .book-card {
        margin-bottom: 20px;
    } 
    img {
        height: 340px;
    }
    
    .card-title {
        height: 50px;
    }

    .form-group {
        margin-top: 15px;
    }

    .col-md-3 {
        margin-bottom: 25px;
    }

    .card-title {
        font-size: 18px;
    }

</style>
{% endblock %}


{% block page_content %}
    {% if now_info %}    
        {% if status_info %}
        
        <div class="container">
            <div class="row">  
                {% for status in status_info %}
                    {% if status.lib_status.now == 1 %}
                        <div class="col-md-3">
                            <div class="card"">
                                <img src="{{ url_for('static', filename = status.lib_books.img_path) }}" class="card-img-top" alt="책 이미지">
                                <div class="card-body">
                                    <h5 class="card-title">{{ status.lib_books.book_name }} </h5>
                                    <div class="list-group-item list-group-item-action"> 평점 : {{ get_score(status.lib_books.book_id) }}</div>
                                    <div class="list-group-item list-group-item-action"> 대여 시작일 :{{ status.lib_status.book_start }}</div>
                                    <form action="{{ url_for('main.outbook', book_id=status.lib_books.book_id) }}" method="post">
                                        <div class="form-group">
                                            <input class="btn btn-primary" type="submit" value="반납하기">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}              
            </div>
        </div>
        {% endif %}
    {% else %}
        "빌린 책이 없습니다"
    {% endif %}
{% endblock %}

