{% extends "base.html" %}

{% block title %}메인 페이지{% endblock %}

{% block css %}
<style>
    .container {
        width: 200%;
    }
    .book-card {
        margin-bottom: 20px;
    } 
    img {
        height: 340px;
    }
    
    .card-title {
        height: 50px;
    }

    .form-group {
        margin-top: 15px;
    }

    .col-md-3 {
        margin-bottom: 25px;
    }

</style>
{% endblock %}


{% block page_content %}    
    {% if page_list %}
    <div class="container">
        <div class="row">
            {% for book in page_list.items%}
                <div class="col-md-3">
                    <a href="/book/{{ book.book_id }}">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ url_for('static', filename = book.img_path) }}" class="card-img-top" alt="책 이미지">
                            <div class="card-body">
                                <h5 class="card-title">{{ book.book_name }} </h5>
                                <div class="list-group-item list-group-item-action">{{ book.book_stars }}</div>
                                <div class="list-group-item list-group-item-action">{{ book.book_counts }} 권 / 5 권</div>
                                <form action="{{ url_for('main.rent', book_id=book.book_id) }}" method="post">
                                    <div class="form-group">
                                        <input class="btn btn-primary" type="submit" value="대여하기">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}                      
        </div>
    </div>
    
    {% else %}
    <p>책이 없어요...</p>
    {% endif %}

    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if page_list.has_prev %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_list.prev_num }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        {% for page_num in page_list.iter_pages() %}
            {% if page_num %}
                {% if page_num != page_list.page %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ page_num }}</a>
                </li>
                {% endif %}
           {% else %}
                <li class="disabled">
                    <a class="page-link" href="#">...</a>
                </li>
           {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if page_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_list.next_num }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
{% endblock %}
