{% extends "base.html" %}

{% block title %}메인 페이지{% endblock %}

{% block page_content %}    
    {% if book_list %}
    
    <div class="container">
        <div class="row row-cols-1 row-cols-xs-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">  
            <ul class="list-group">
                {% for book in book_list%}
                    <a href="/book/{{ book.book_id }}">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ url_for('static', filename = book.img_path) }}" class="card-img-top" alt="책 이미지">
                            <div class="card-body">
                                <h5 class="card-title">{{ book.book_name }} title</h5>
                                <li class="list-group-item list-group-item-action">{{ book.book_stars }}</li>
                                <li class="list-group-item list-group-item-action">{{ book.book_counts }} 권 / 5 권</li>
                            </div>
                        </div>
                    </a>
                    
                    <form action="{{ url_for('main.home', book_counts=status_info.book_counts) }}" method="post">
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" value="대여하기">
                        </div>
                    </form>
                {% endfor %}        
            </ul>                
        </div>
    </div>
    
    {% else %}
    <p>책이 없어요...</p>
    {% endif %}
{% endblock %}
